/*
 *= require_self
 *= require_tree .
*/

@import "_verticalalign";
@import "_colorscheme";

body {
  font: 11px Helvetica, Arial, sans-serif;

  #wrapper {
    margin: 0 auto;
    width: 940px;
  }
}



header {
  overflow: hidden;
  background: $sherlockblue;
  height: 36px;
  color: #fff;
  font-size: 12px;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .log_in{
    height: 100%;
    margin: {
      right: 10px;
    }

    @include verticalalign(end, center);
  }

  #logo {
    height: 100%;
    float: left;
    margin: {
      top: 5px;
      left: 10px;
    }
  }
}

nav {
  height: 30px;
  background-image: linear-gradient(bottom, rgb(232,232,232) 29%, rgb(240,240,240) 59%);
  background-image: -o-linear-gradient(bottom, rgb(232,232,232) 29%, rgb(240,240,240) 59%);
  background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 29%, rgb(240,240,240) 59%);
  background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 29%, rgb(240,240,240) 59%);
  background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 29%, rgb(240,240,240) 59%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.29, rgb(232,232,232)), color-stop(0.59, rgb(240,240,240)));

  /*ul {
    @include verticalalign(start, center);
    li {
      display: inline;
      list-style-type: none;
      border: 1px solid #d7d7d7;
      a {
        color: #3777b2;
      }
    }
  }*/
}

